.comment {
    padding: 2em;
    background-color: var(--primary-very-dark-magenta);
    color: var(--neutral-light-grayish-magenta);
    border-radius: .5em;
}

.comment:first-child {
    align-self: flex-start;
}

.comment:last-child {
    align-self: flex-end;
}

.comment .profile {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.comment .profile .img img{
    max-width: 50px;
    border-radius: 50%;
}

.comment .profile .content {
    margin-left: 1em;
    line-height: 1.2em;
}

.comment .profile .content .verified {
    color: var(--primary-soft-pink);
}

.comment .message {
    line-height: 1.2em;
    margin-top: 1.2em;
}